name: Generate Installable Plugin, and Upload as Release Asset
on:
  release:
    types: [published]
jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build project
        run: |
          mkdir -p build
          mkdir -p /tmp/plugin/shuriken-reviews
          rsync -av \
            --exclude='.git' \
            --exclude='.github' \
            --exclude='node_modules' \
            --exclude='.*' \
            --exclude='CODE_OF_CONDUCT.md' \
            --exclude='CONTRIBUTING.md' \
            --exclude='ISSUE_TEMPLATE.md' \
            --exclude='PULL_REQUEST_TEMPLATE.md' \
            --exclude='*.dist' \
            --exclude='*.yml' \
            --exclude='*.neon' \
            --exclude='composer.*' \
            --exclude='dev-helpers' \
            --exclude='build' \
            --exclude='wporg-assets' \
            --exclude='phpunit' \
            --exclude='docs' \
            --exclude='tests' \
            . /tmp/plugin/shuriken-reviews/

      - name: Create artifact
        run: cd /tmp/plugin && zip -X -r $GITHUB_WORKSPACE/build/shuriken-reviews.zip shuriken-reviews

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: shuriken-reviews
          path: build/shuriken-reviews.zip

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/shuriken-reviews.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
